/* AD Still there :) */
/* Homepage ad */
ytd-display-ad-renderer,
ytd-video-display-full-buttoned-renderer,
ytd-ad-slot-renderer {
    opacity: 0.05 !important;
    pointer-events: none !important;
}

/* video side ad*/
ytd-action-companion-ad-renderer,
ytd-image-companion-renderer{
    opacity: 0.05 !important;
    pointer-events: none !important;
}

/* ytd-engagement-panel-section-list-renderer used by shorts command*/